.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/bto.owl
src/ontology/bto.obo
src/ontology/bto.json
src/ontology/bto-base.*
src/ontology/bto-basic.*
src/ontology/bto-full.*
src/ontology/bto-simple.*
src/ontology/bto-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl